autom4te.cache
tags
src/.deps/
src/.libs/
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
include/Makefile
include/Makefile.in
include/WIP.h
install-sh
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/arg.o
src/config.o
src/inform.o
src/main.o
src/param.o
src/wmd
src/x.o
stamp-h1
